.map{
    margin-left:40px;
    display:inline-block;
    padding:10px;
}

.element{
    margin-left:80px;
    padding-bottom:20px;
}

table{
   width: 500px;
}


table th{
  padding: 10px;
  color:skyblue;
  background:#fff5e5;
  border:solid 3px black:
}

table td{
  padding: 3px 10px;
  background:#f5f5f5;
  border:solid 3px black:

}

#map{
width:640px;
height:400px;
background-color:gray;
}

.form{
    margin-left:30px;
    padding-top:10px;
}

.messages{
    width:10px;
    margin:20px;
}
